.app-container {
  height: 90vh;
  padding: 1rem;
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
}

.nav-bar {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: #3b82f6;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.welcome-text {
  font-size: 1.5rem;
  color: #111827;
}

.game-container {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  /* background-color: red; */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.game-message {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 50%;
  /* background-color: yellow; */
}

.sequence-button {
  height: 100px;
  width: 100px;
  /* padding: 1rem; */
  background-color: #93c5fd;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 2rem;
  color: #111827;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sequence-button-green {
  height: 100px;
  width: 100px;
  /* padding: 1rem; */
  /* background-color: #93c5fd; */
  background-color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 2rem;
  color: #111827;
  font-weight: bold;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}

.sequence-button-red {
  height: 100px;
  width: 100px;
  /* padding: 1rem; */
  /* background-color: #93c5fd; */
  background-color: red;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 2rem;
  color: #111827;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.g-btn:hover {
  background-color: #60a5fa;
}

.maze-canvas {
  border: 2px solid #111827;
  margin-top: 1rem;
  cursor: crosshair;
}

.btn{
  background-color: #93c5fd;
  padding: 1rem 3rem;
  font-size: 0.5em;
  font-weight: bold;
  color: #111827;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover{
  background-color: #60a5fa;
  cursor: pointer;
}

.level{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 1%;
  top: 0;
  background-color: rgb(109, 255, 109);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 20vh;
  width: 20vh;
  font-weight: bold;
  font-size: 2rem;
}